{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'contact_us/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="{% static 'contact_us/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact_us/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact_us/assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact_us/assets/css/Navigation-with-Search.css' %}">
</head>

<body id="page-top"><header>
    {% block content %}
    <section id="contact" style="background-image:url('assets/img/map-image.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted" style="border-color: rgb(217,224,231);color: rgb(203,208,211);">Any enquiries or proposals for collaboration?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="contactForm" novalidate="novalidate" action = "contact" method = "POST">
                        {% csrf_token%}
                        <div class="form-row">
                            <div class="col col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="name" placeholder="Your Name *" required="" name="name">
                                    <small class="form-text text-danger flex-grow-1 help-block lead"></small>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="email" id="email" placeholder="Your Email *" required="" name="email">
                                    <small class="form-text text-danger help-block lead"></small>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="tel" placeholder="Your Phone *" required="" name="number">
                                    <small class="form-text text-danger help-block lead"></small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" placeholder="Your Message *" required="" name="msg"></textarea>
                                    <small class="form-text text-danger help-block lead"></small>
                                </div>
                            </div>
                            <div class="col">
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div><button class="btn btn-info btn-xl text-uppercase" id="sendMessageButton" type="submit" style="background: rgb(0,123,255);border-color: rgb(255,255,255);">Send Message</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'contact_us/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'contact_us/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'contact_us/assets/js/agency.js' %}"></script>

    {% endblock %}
</body>

</html>