{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blog - All About Robotix</title>
    <link rel="stylesheet" href="{% static 'blog/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'blog/assets/css/smoothproducts.css' %}">
</head>

<body>
    {% block content %}
    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark" style="padding: 68px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto" style="text-align: center;padding: 2px;">
                        <h1 style="text-align: center;"><strong>International Conference on Intelligent Robots and Systems&nbsp; <br><br>IROS 2020</strong></h1>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <p style="text-align: justify; font-size: 120%;">The International Conference on Intelligent Robots and Systems is one of the most prestigious Robotics conferences in the world. Due to its virtual nature this year, all content has been made absolutely free. This is a rare opportunity for the Robotics community to gain key insights into the latest trends in Robotics. However, with so many talks, tutorials, and workshops, it can be daunting to get started. In this section, we pick some fascinating technical talks, tutorials, and workshops and break it down in a simple manner, to save you time while keeping you updated with the latest trends in Robotics.</p>
            </div>
            <div class="block-content" style="padding: 5%;">
                <p></p>
                <p></p>
                    {% if data|length != 0 %}
                        {% for blog in data %}
                            {% if blog.blog_type == 'IROS2020' and blog.make_public %}
                            <div class="clean-blog-post" style="padding-bottom: 70px;">
                                <div class="row">
                                    <div class="col-lg-5"><img class="rounded img-fluid" src="{{ blog.img.url }}"></div>
                                    <div class="col-lg-7">
                                        <h3>{{blog.title}}</h3>
                                        <div class="info"><span class="text-muted">{{ blog.date_posted }}</span></div>
                                        <p>{{ blog.abstract }}</p>
                                        <button class="btn btn-outline-primary btn-sm" type="button">
                                            <a href="{% url 'iros_detail' blog.id %}">Go to post</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
    {% endblock %}
    <script src="{% static 'blog/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'blog/assets/js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'blog/assets/js/theme.js' %}"></script>
</body>

</html>