{% extends 'base.html' %}
{% load static %}

{% block techspresoactive %} active {% endblock techspresoactive %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blog - All About Robotix</title>
    <link rel="stylesheet" href="{% static 'blog/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'blog/assets/css/smoothproducts.css' %}">
</head>

<body>
    {% block content %}
    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark" style="padding: 68px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto" style="text-align: center;height: 79px;padding: 2px;">
                        <h1 style="text-align: center;height: 89px;"><strong>Techspresso</strong></h1>
                    </div>
                </div>
            </div>
            <div>
                <p style="text-align: justify; font-size: 120%;">Technology, especially robotics is such a vast field that it&nbsp;sometimes becomes a little difficult to go deep into the various cutting edge technologies being used currently and the latest technological&nbsp;advancements. In addition,
                    there is so much of information scattered all across the internet, ‘technology demystified’ aims to bring to light&nbsp;all the important and exciting topics that are worth knowing and&nbsp;understanding so that you’ll have a thorough
                    knowledge of&nbsp; the&nbsp;technological terms that you must have heard at some point in your life&nbsp;but were never really sure of the theory and logic behind it. We are&nbsp;ready to tingle and excite your brain cells, are you
                    ready? Enjoy this&nbsp;fascinating ride with us!</p>
            </div>
            <div class="block-content" style="padding: 5%;">
                <p></p>
                <p></p>
                {% if data|length != 0 %}
                    {% for blog in data %}
                        {% if blog.blog_type == 'Techspresso' and blog.make_public %}
                        <div class="clean-blog-post" style="padding-bottom: 70px;">
                            <div class="row">
                                <div class="col-lg-5"><img class="rounded img-fluid" src="{{ blog.img.url }}"></div>
                                <div class="col-lg-7">
                                    <h3>{{blog.title}}</h3>
                                    <div class="info"><span class="text-muted">{{ blog.date_posted }}</span></div>
                                    <p>{{ blog.abstract }}</p>
                                    <button class="btn btn-outline-primary btn-sm" type="button">
                                        <a href="{% url 'tech_detail' blog.id %}">Go to post</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </section>
    </main>
    {% endblock %}
    <script src="{% static 'blog/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'blog/assets/js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'blog/assets/js/theme.js' %}"></script>
</body>

</html>